.link_button {
    display: flex;
    background-color: #fb923c;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 11px;
    padding-bottom: 11px;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    width: auto;
}

.link_button:hover {
    color: rgb(237, 236, 236);
    background-color: #ff8a2a;
}

.project_text {
    display: flex;
    text-align: left;
    color: white;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.project_text:nth-child(odd) {
    background: linear-gradient(90deg, hsla(341, 85%, 68%, 1) 51%, hsla(358, 78%, 62%, 1) 100%);

}

.project_text:nth-child(even) {
    background: linear-gradient(90deg, hsla(27, 96%, 61%, 1) 44%, hsla(358, 78%, 62%, 1) 100%);

}