.tech_div {
    background: url(https://i.ibb.co/Zg7csVk/Tech-Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.border-style {
    border: 1px solid #343a44;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 10px 18px rgb(199, 25, 25); 
}